<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Runner.entitlements
   Runner

   Created by Uglješa Erceg on 10.06.25.
   Copyright (c) 2025 . All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
